.table_board {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: white;
  padding: 0;
  /* border: 1px solid white; */
  /* box-shadow: 0px 0px 5px 0 rgba(255, 255, 255); */
  background-color: transparent;
}

.table_board_header > p {
  font-weight: bolder;
  font-size: 1.25rem;
  padding-left: 1rem;
}
.table_board_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
  background-color: rgb(255, 255, 255, 0.1);
  height: 50px;
}

.workflow_table {
  margin-top: 2rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  align-self: center;
}

.workflow_row {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
}

.workflow_row:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255, 0.1);
}
.workflow_table_header {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  /* justify-content: space-between; */
}
.workflow_table_header > div {
  color: rgb(255, 255, 255, 0.5);
}
.workflow_job {
  color: white;
  width: 140px;
  height: 4.9rem;
  border-radius: 5px;
  position: absolute;
  font-size: 0.98rem;
  cursor: pointer;
  /* background-color: rgb(0, 0, 0, 0.6); */
  border: 2px solid rgba(255, 255, 255, 0.4);
  /* box-shadow: -1px -1px 10px rgba(255, 255, 255, 0.2), 1px 1px 10px rgba(0, 0, 0, 0.1); */
}
.workflow_job_selected {
  border-color: rgb(255, 255, 0, 0.8);
}

.workflow_job_icon {
  position: absolute;
  left: -5px;
  top: -6px;
  /* background-color: white;
  border-radius: 50%; */
}

.job_name {
  border-bottom: 2px solid;
  padding-left: 15%;
  padding-top: 2px;
  padding-bottom: 2px;
}

.job_timing {
  font-size: 0.88rem;
}

.one_workflow_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255, 0.1);
  height: 40px;
  margin-bottom: 1px;
}
.one_workflow_tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  background-color: rgb(255, 255, 255, 0.1);
  height: 40px;
  margin-bottom: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.one_workflow_header > p {
  font-weight: bolder;
  font-size: 1.25rem;
  padding-left: 1rem;
  color: white;
}
.one_workflow_page {
  width: 100%;
  height: 100%;
}

.wjobs_container {
  position: relative;
  overflow: auto;
  height: 96%;
  flex: 1;
}

.one_workflow_content {
  width: 100%;
  height: 100%;
  display: flex;
}

.job_details_container {
  height: 100vh;
  color: white;
  width: 30vw;
  background-color: rgb(20, 34, 47);
  animation: details-anim 0.5s ease-in-out;
}

@keyframes details-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.job_details_options {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  height: 60px;
}

.job_details_options > div {
  cursor: pointer;
}

.job_details_summary {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.job_details_summary > div {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  height: 60px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0.9rem;
}

.job_details_summary > div > p {
  width: 60%;
}
