.workflow_board {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%;
  overflow: hidden;
  color: white;
  /* border: 1px solid white; */
  padding-left: 1rem;
  padding-right: 1rem;
  /* box-shadow: 0px 0px 5px 0 rgba(255, 255, 255); */
  background-color: transparent;
}

.workflow_board_header > p {
  font-weight: bolder;
  font-size: 2rem;
}
.workflow_board_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
