.p_button {
  width: 100px;
  height: 40px;
  background-color: rgb(0, 81, 255);
  border: none;
  border-radius: 0.2rem;
  color: white;
  font-size: small;
}

.p_button:hover {
  background-color: rgb(0, 81, 255, 0.8);
  cursor: pointer;
}
