.CText_area {
  color: white;
  border: 2px solid rgb(0, 81, 255);
  outline: none;
  background-color: transparent;
  width: 30rem;
  height: 20rem;
}

.CText_area:focus {
  border: 2px solid rgb(0, 81, 255);
  outline: none;
}
