.grapth_container {
  height: 100%;
  /* background-color: red; */
}

.job {
  position: absolute;
  width: 100px;
  height: 60px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.job:hover {
  border: 1px solid #ffffff;
  background-color: rgb(255, 255, 255, 0.6);
  color: #000000;
}
