.tools_list {
  position: fixed;
  height: 100%;
  right: 0;
  top: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  width: 15%;
}

.scontainer {
  color: white;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255);
}

.created_job {
  color: white;
  width: 8rem;
  height: 5rem;
  border: 1px solid rgba(255, 255, 255);
  border-radius: 5px;
}

.jobs_container {
  width: 82%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
