.p_input {
  color: white;
  background-color: transparent;
  width: 20rem;
  /* border-bottom: 2px solid rgb(0, 81, 255) !important; */
  border-bottom: 2px solid rgb(255, 255, 255) !important;
  height: 30px;
  border: none;
}

.p_input:focus {
  outline: none;
  border: none;
}
