.dashboard {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.dashboard_content {
  background-color: var(--primary-color);
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
