*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* --primary-color: rgb(0, 1, 20); */
  --primary-color: rgb(36, 36, 36);
}

body {
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
}
