*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* --primary-color: rgb(0, 1, 20); */
  /* --primary-color: rgb(255, 174, 0); */
  /* --primary-color: rgb(20, 34, 47); */
  --primary-color: rgb(10, 22, 32);
}

body {
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
  overflow: hidden;
}
